#form{
    border-radius: 20px;
    background-color: rgb(155, 200, 206);
}


.button{
    border-radius: 20px;
    border-color: black;
    background-origin: padding-box;
}
#field{
    border-style: dashed;
    border-radius: 30px;

    border-color: black;
}
.input{
    border-color: black;
    border-style: double;
}

.legend{
    -webkit-text-stroke: 1px black;
    text-align: center;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: cornflowerblue;
}

.label{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}